  *{
    background-size: boarder-box;
  padding: 0;
  margin: 0;
  
  }
  /* body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  } */
  body{
  
    background-image: url(bk3.jpg);
    -webkit-background-size:cover ;
    font-family: montserrat;
    background-size: cover;
    height: 100vh;
    background-position: center center ;
  }
  .card
  {
    margin-top:30px;
    box-shadow: 0px 0px 12px #898787;
  }
  .container
  {
    width: 75% !important;
  }
  .card-header
  {
    background: #fff;
    font-size: 36px;
    font-weight: bold;
    padding:25px 10px;
    color:#f21c0c;
    margin-left: 0px;
  }
  .card-body
  {
  
    padding: 0px;
  }
  a{
    text-decoration: none;
    color: rgb(255, 255, 255);

  }
  header{
    background-color: teal;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;

  }
  .logoimg{
    cursor: pointer;
    width: 150px;
    height: 30px;
    padding-right:450px ;
  }
  .nav-area {
    list-style: none;
    float: right;
  }
  .nav-area li{
    color: aliceblue;
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
  }
  .nav-area li a{
    transition: 0.5s;
    color:rgb(255, 255, 255);
  }
  .nav-area li a:hover{
    color:rgb(11, 241, 241);
    /* padding: 5px;
    border: solid #000 3px; */
  }
  .btn-area{
    cursor: pointer;
    color: #000;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius:5px;
    background: #fff;
  }
  .btn-area:hover{
    color: rgb(255, 255, 255);
    background: rgb(7, 225, 233);
  }
  .body-text{
    font-family: 'montserrat';
    position: fixed;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 30px;
    position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translate(-50%,-50%);
  }
  .slider{
    background-image: url(bk1.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

  }

  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:teal;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.table_responsive {
  max-width: 900px;
  border: 1px solid #00bcd4;
  background-color: #efefef33;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
}

table>thead {
  background-color: teal;
  color: #fff;
  text-transform: uppercase;
}

table>thead th {
  padding: 15px;
}

table th,
table td {
  border: 1px solid #00000017;
  padding: 10px 15px;
}

/* table>tbody>tr>td>img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}
*/

.action_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action_btn>a {
  text-decoration: none;
  color: #444;
  background: #fff;
  border: 1px solid;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.action_btn>a:nth-child(1) {
  border-color: #26a69a;
}

.action_btn>a:nth-child(2) {
  border-color: orange;
}

.action_btn>a:hover {
  box-shadow: 0 3px 8px #0003;
}


table>tbody>tr {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}


table>tbody>tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
  filter: drop-shadow(0px 2px 6px #0002);
}
.nav-area ul li{
  display: inline-block;
}
.nav-area ul li a{
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #063247;
  transition: .5s;
}
.nav-area ul li a:hover,
.nav-area ul li a.active{
  color: #23dbdb;
}
.nav-area ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
.nav-area ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
.nav-area ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
.nav-area ul ul li a{
  line-height: 50px;
}
.nav-area ul ul ul{
  border-top: none;
}
.nav-area ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
.nav-area ul ul li a i{
  margin-left: 45px;
}